* {
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 300px auto 200px;
    grid-template-rows: 150px 150px auto auto auto;
}

/* DashBoard */

.dashboard{
    display: grid;
    background-color: #e94f37;
    height: 100vh;
    color: white;

}

.dashboard {
    justify-items: left;
    padding: 35px 15px;
}

.heading {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 60px;
    height: auto;
    stroke-width: 2;
    fill: white;
}

.icon-2 {
    width: 30px;
    height: auto;
    margin-right: 20px;
    stroke-width: 2;
    fill: white;
    margin-left: 16px;
}

.dashboard ul {
    padding: 15px 0px;
    margin-top: 20px;    
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.dashboard li {
    padding: 15px 0px;
}

.dash-list ul {
    display: grid;
    grid-template-columns: auto 1fr;
}

/* Menu */

.menu {
    grid-column: 2/4;
}

.search-icon {
    width: 30px;
    height: auto;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-self: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 250px;
    width: 80%;
    gap: 20px;
}

input {
    border-radius: 20px;
    height: 25px;
    width: 70%;
}

.pfp {
    gap: 10px;
    width: 60px;
    border-radius: 50%;
}

.profile-info {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
}

.profile-info h2 {
    grid-row: 2/3;
}

.profile-info ul {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}

/* Content */

.content {
    grid-column: 2/4;   
}